<!DOCTYPE html>
<html>
<head>
	<title>贊助</title>
	<link th:href="@{/css/text.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		function changeMode() {
			if (window.event.srcElement.value == 'Elinora') {
				document.getElementById('img1').className = 'back0';
				document.getElementById('candle').className = 'back0';
				return;
			} else if (window.event.srcElement.value == 'ChristinHunt') {
				document.getElementById('img1').className = 'back1';
				document.getElementById('candle').className = 'back1';
				return;
			} else if (window.event.srcElement.value == 'ChivesWang') {
				document.getElementById('img1').className = 'back2';
				document.getElementById('candle').className = 'back2';
				return;
			} else if (window.event.srcElement.value == 'Purin') {
				document.getElementById('img1').className = 'back3';
				document.getElementById('candle').className = 'back3';
				return;
			}
		}
	</script>
	<script type="text/javascript">
		if (screen.width <= 450) {
			document.location = "/mobile";
		}
	</script>

	<div id="header">
		<h1 id="img1">n</h1>

	</div>
	<div id="nav">
		<form id="donation-form" action="/donate" method="POST">
			<div class="flex-container">

				<ul>

					<li>
						<div>贊助對象</div>
					</li>

					<li class="select" tabindex="1">
                        <input class="selectopt" name="target" value="Elinora" type="radio" id="opt0" checked="checked" onclick="changeMode()"> 
                            <label for="opt0" class="option">愛琳諾菈/ LLT5 藝輪點燈</label>
                        <input class="selectopt" name="target" value="ChristinHunt" type="radio" id="opt1" onclick="changeMode()"> 
                             <label for="opt1" class="option">克里絲汀 CH. / 獵人克希Chrissy</label> 
                        <input class="selectopt" name="target" value="ChivesWang" type="radio" id="opt2" onclick="changeMode()"> 
                            <label for="opt2" class="option">王顧採	CH. / 六埕順揚宮主委</label> 
                        <input class="selectopt" name="target" value="Purin" type="radio" id="opt3" onclick="changeMode()">
                            <label for="opt3" class="option">蜂蜜布丁 CH. / 83Purin</label>
                    </li>


				</ul>
				<ul>
					<li>
						<div>贊助金額（新台幣TWD）</div>
					</li>
					<li><label class="field field_v2"> <input id="money"
							name="amount"
							type="number" class="field__input" placeholder="...請輸入整數金額，最少35元"
							required="required" oninvalid="this.setCustomValidity('最少35')"
							onchange="setCustomValidity('')"
							min="35" autocomplete="off"> <span
							class="field__label-wrap"> <span class="field__label">
							</span>
						</span>
					</label></li>
				</ul>

				<ul>
					<li>
						<div>付款方式</div>
					</li>
					<li class="select" tabindex="1"><input class="selectopt"
						name="payment_method" value="credit_card" type="radio" id="A1" checked="checked">
						<label for="A1" class="option">信用卡</label> <input
						class="selectopt" name="payment_method" value="cvs_barcode" type="radio" id="A2">
						<label for="A2" class="option">超商代碼</label> <input
						class="selectopt" name="payment_method" value="ATM" type="radio" id="A3">
						<label for="A3" class="option">ATM轉帳</label> <input
						class="selectopt" name="payment_method" value="webATM" type="radio" id="A4">
						<label for="A4" class="option">網路ATM</label>
					</li>
				</ul>
				<ul>
					<li>
						<div>贊助者名稱（暱稱）</div>
					</li>
					<li><label class="field field_v2"> <input id="fname"
							name="name"
							class="field__input" placeholder="...留空為匿名，僅支援中英數" maxlength="15"
							autocomplete="off"> <span class="field__label-wrap">
								<span class="field__label"> </span>
						</span>
					</label></li>

				</ul>
				<ul class="forTextArea_ul">
					<li class="forTextArea_li">
						<div>贊助內容（留言）</div>
					</li>
					<li class="forTextArea"><label class="field field_v2">
							<textarea id="content" class="field__input" name="message"
								placeholder="...最多可為150個字元" maxlength="150" autocomplete="off"></textarea>
							<span class="field__label-wrap"> <span
								class="field__label"> </span>
						</span>
					</label></li>
				</ul>
			</div>
			<div class="blank"></div>
			<div class="flex-container2">

				<ul class="container2_ul">

					<li>
						<h2 id="candle"></h2>
					</li>
					<!--
                    <li class="container2_li">
                        <button class="button-64" role="button" type="submit"><span class="text">送出</span></button>
                    </li>
-->
					<li class="container2_li">
						<button class="buttonTest" type="submit" onclick="submitForm()"></button>
					</li>
					<li>
						<div id="content">
							<p>~ 送出你的贊助與留言 ~</p>
							<p>※有時候會因為節目演出需求關閉畫面顯示與音效，</p>
							<p>但每位點燈人一定會安排各自的贊助留言環節，謝謝火燭的支持。</p>
						</div>
					</li>
					<li>
						<div id="line"></div>
					</li>
					<li>
						<div id="content2">
							<p>注意事項： 請在填寫資料前，謹慎確認此贊助網頁是由官方網站與官方直播頻道連結，預防偽造的詐騙網站。</p>
							<p>此表單管道為主動自願的頻道贊助。請衡量自身的經濟狀況後再進行打賞，無任何約定實質回饋。</p>
							<p>
								更新相關： 如有發現任何網頁功能異常，請至<a href="https://discord.gg/XXxVQ63Z64">
									LLT5.Vtuber聯動社群 </a>問題回報區聯繫隊長！
							</p>
						</div>
					</li>
				</ul>

			</div>



		</form>

	</div>

	<div id="footer">
		<p id="ft">©2021 LLT5 藝輪點燈 Lamplighter5</p>
	</div>



</body>
</html>