<html>

<head>
	<!-- Refresh page every 11 seconds -->
	<!-- The fade in&out animation is about 11 seconds -->
	 <meta http-equiv="refresh" content="11">
</head>


<body style="margin:0px;padding:0px;overflow:hidden">
    <!--  <iframe th:src="@{${'http://localhost:8080/' + name + '-iframe'}}"  frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe> --> 
    <iframe th:src="@{${'https://lamplighter5-donation-test.herokuapp.com/' + name + '-iframe'}}"  frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%" scrolling="no"></iframe> 
    <!--  <iframe th:src="@{${'https://ecpay545.herokuapp.com/' + name + '-iframe'}}"  frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe> -->
    <!-- <iframe th:src="@{${'https://lamplighter5.tw/' + name + '-iframe'}}"  frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe> -->
</body>

</html>